In [4]:
# Dependency
import pandas as pd
import scipy.stats as stats

# Import Data
electricity = pd.read_csv("TyData/StatesAnnualRates.csv")
electricity.head()

,Index,Average Retail Price (cents/kWh),Net Summer Capacity (MW),Net Generation (MWh),Total Retail Sales (MWh),Year,State
0,1,8.40,"45,146","197,565,363","143,540,004",2012,Illinois
1,2,8.30,44950,203004919,141804888,2013,Illinois
2,3,9.36,44727,202143878,141540287,2014,Illinois
3,4,9.40,"45,532","193,952,040","138,619,970",2015,Illinois
4,5,9.38,"44,843","187,441,635","141,050,409",2016,Illinois

In [6]:
electricity["State"].unique()
#'Illinois', 'Ohio', 'California', 'Alabama', 'New York', 'Arizona','Washington', 'Massachusetts', 'Florida', 'Texas'

array(['Illinois', 'Ohio', 'California', 'Alabama', 'New York', 'Arizona',
       'Washington', 'Massachusetts', 'Florida', 'Texas'], dtype=object)

In [8]:
NY=electricity[electricity["State"]=="New York"]["Average Retail Price (cents/kWh)"]
IL=electricity[electricity["State"]=="Illinois"]["Average Retail Price (cents/kWh)"]
OH=electricity[electricity["State"]=="Ohio"]["Average Retail Price (cents/kWh)"]
FL=electricity[electricity["State"]=="Florida"]["Average Retail Price (cents/kWh)"]
AL=electricity[electricity["State"]=="Alabama"]["Average Retail Price (cents/kWh)"]
TX=electricity[electricity["State"]=="Texas"]["Average Retail Price (cents/kWh)"]
AZ=electricity[electricity["State"]=="Arizona"]["Average Retail Price (cents/kWh)"]
MA=electricity[electricity["State"]=="Massachusetts"]["Average Retail Price (cents/kWh)"]
CA=electricity[electricity["State"]=="California"]["Average Retail Price (cents/kWh)"]
WA=electricity[electricity["State"]=="Washington"]["Average Retail Price (cents/kWh)"]

In [9]:
# ANOVA
stats.f_oneway(NY,IL,OH,FL,AL,TX,AZ,CA,WA)

F_onewayResult(statistic=183.43399499937104, pvalue=8.3116489699874094e-27)