In [2]:
import numpy as np
import pandas as pd
import csv

import scipy.stats as stats
import matplotlib.pyplot as plt

In [3]:
statesdata = "../DataSets/Rates/Average_price_electricity.csv"

states_df = pd.read_csv(statesdata)
states_df.head()

,Average retail price of electricity,cents per kilowatthour,source key,2012,2013,2014,2015,2016,2017,Average6YearRate
0,Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.A,15.54,15.66,17.05,17.77,17.24,17.62,16.81
1,Maine,cents per kilowatthour,ELEC.PRICE.ME-ALL.A,11.81,11.86,12.65,12.78,12.80,12.94,12.47
2,Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-ALL.A,13.79,14.51,15.35,16.90,16.48,16.14,15.53
3,New Hampshire,cents per kilowatthour,ELEC.PRICE.NH-ALL.A,14.19,14.30,15.22,16.02,15.66,16.16,15.26
4,Rhode Island,cents per kilowatthour,ELEC.PRICE.RI-ALL.A,12.74,13.72,15.41,17.01,16.28,16.44,15.27

In [62]:
cheaplist = []
expensivelist = []

for index, row in states_df.iterrows():
    
    if row["Average6YearRate"] > 8.5:
        expensivelist.append(row["Average retail price of electricity"])
    else:
        cheaplist.append(row["Average retail price of electricity"])
        
print(len(cheaplist))
print(len(expensivelist))
print(cheaplist)
print(expensivelist)

10
41
['Iowa', 'West Virginia', 'Kentucky', 'Arkansas', 'Louisiana', 'Oklahoma', 'Idaho', 'Utah', 'Wyoming', 'Washington']
['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania', 'Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota', 'Delaware', 'District Of Columbia', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'Alabama', 'Mississippi', 'Tennessee', 'Texas', 'Arizona', 'Colorado', 'Montana', 'Nevada', 'New Mexico', 'California', 'Oregon', 'Alaska', ' Hawaii']

In [63]:
states = {

         'Alabama','Alaska','Arizona','Arkansas','California','Colorado',
         'Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho', 
         'Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana',
         'Maine','Maryland','Massachusetts','Michigan','Minnesota',
         'Mississippi', 'Missouri','Montana','Nebraska','Nevada',
         'New Hampshire','New Jersey','New Mexico','New York',
         'North Carolina','North Dakota','Ohio',    
         'Oklahoma','Oregon','Pennsylvania','Rhode Island',
         'South Carolina','South Dakota','Tennessee','Texas','Utah',
         'Vermont','Virginia','Washington','West Virginia',
         'Wisconsin','Wyoming'
    }
lowcostusers = ["Illinois", "Ohio", "Alabama", "Washington", "Arkansas", "Colorado", "Connecticut", "Georgia", "Hawaii", "Idaho",
          "Indiana","Iowa","Kansas","Kentucky","Maine","Maryland","Michigan","Minnesota","Missouri", "Montana", "Nebraska", 
          "New Hampshire","New Mexico", "New York", "North Carolina", "North Dakota", "Oregon","Pennsylvania", "South Carolina",
          "South Dakota", "Tennessee","Utah", "Vermont", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

highcostusers = []

for state in states:
    if state not in lowcostusers:
        highcostusers.append(state)
print(highcostusers)
print("------------------------------------------------------------------------------------------------------------------")
print(expensivelist)
print("------------------------------------------------------------------------------------------------------------------")
print(lowcostusers)
print("------------------------------------------------------------------------------------------------------------------")
print(cheaplist)

['Rhode Island', 'Texas', 'New Jersey', 'Florida', 'Virginia', 'California', 'Alaska', 'Massachusetts', 'Delaware', 'Arizona', 'Oklahoma', 'Mississippi', 'Louisiana', 'Nevada']
------------------------------------------------------------------------------------------------------------------
['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania', 'Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota', 'Delaware', 'District Of Columbia', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'Alabama', 'Mississippi', 'Tennessee', 'Texas', 'Arizona', 'Colorado', 'Montana', 'Nevada', 'New Mexico', 'California', 'Oregon', 'Alaska', ' Hawaii']
------------------------------------------------------------------------------------------------------------------
['Illinois', 'Ohio', 'Alabama', 'Washington', 'Arkansas', 'Colorado', 'Connecticut', 'Georgia', 'Hawaii', 'Idaho', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Maine', 'Maryland', 'Michigan', 'Minnesota', 'Missouri', 'Montana', 'Nebraska', 'New Hampshire', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Oregon', 'Pennsylvania', 'South Carolina', 'South Dakota', 'Tennessee', 'Utah', 'Vermont', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
------------------------------------------------------------------------------------------------------------------
['Iowa', 'West Virginia', 'Kentucky', 'Arkansas', 'Louisiana', 'Oklahoma', 'Idaho', 'Utah', 'Wyoming', 'Washington']

In [64]:
hchr = len(set(highcostusers) & set(expensivelist))
hclr = len(set(highcostusers) & set(cheaplist))
lchr = len(set(lowcostusers) & set(expensivelist))
lclr = len(set(lowcostusers) & set(cheaplist))

# if state in highcostusers and expensivelist:
#     hchr.append(state)
#     elif state in highcostusers and cheaplist
#         hclr.append(state)
        
# if state in lowcostusers and expensivelist:
#     lchr.append(state)
# if state in lowcostusers and cheaplist:
#     lclr.append(state)
print(hchr)
print(hclr)
print(lchr)
print(lclr)

12
2
27
8

In [65]:
data = pd.Series([hchr,lchr], index=["High Energy Cost Users", "Low Energy Cost Users"])
chi_df = pd.DataFrame([data]).T
chi_df[1] = [hclr,lclr]

chi_df

                         0  1
High Energy Cost Users  12  2
Low Energy Cost Users   27  8

In [80]:
chi_df.columns = ["ExpensiveRates(>$0.085)","CheapRates(=<$0.085)"]

chi_df
# data = pd.DataFrame({"Expensive Rates (>$0.11)": [hchr,lchr],
#                     "Cheap Rates (=<$0.11)": [hclr,lclr]})
# chi_df=chi_df.append(data)
# chi_df.head()

                        ExpensiveRates(>$0.085)  CheapRates(=<$0.085)
High Energy Cost Users                       12                     2
Low Energy Cost Users                        27                     8

In [81]:
observed = np.array([[6,7],[8,28]])
stats.contingency.expected_freq(observed)

array([[ 3.71428571,  9.28571429],
       [10.28571429, 25.71428571]])

In [82]:
stats.chi2_contingency(observed)

(1.6359508547008548, 0.20088193349618605, 1, array([[ 3.71428571,  9.28571429],
        [10.28571429, 25.71428571]]))

In [83]:
# Pvalue is the probability the variables are independent. 
#pvalue is greater than 0.05 which means the result is not significant. 
#meaning we think that cost of higher cost electricity sources does not 
#confidently transfer to higher rates.

In [84]:
popdata = "../DataSets/Rates/CensusStatesPopulations.csv"
pop_df = pd.read_csv(popdata)
pop_df['7YearAverage'] = pop_df['7YearAverage'].str.replace(',', '')
pop_df['7YearAverage'] = pop_df['7YearAverage'].astype(int)
pop_df.head()

,States,2010,2011,2012,2013,2014,2015,2016,2017,7YearAverage,PopAvgMillions
0,Alabama,"4,785,579","4,798,649","4,813,946","4,827,660","4,840,037","4,850,858","4,860,545","4,874,747",4831503,4.831503
1,Alaska,"714,015","722,259","730,825","736,760","736,759","737,979","741,522","739,795",732489,0.732489
2,Arizona,"6,407,002","6,465,488","6,544,211","6,616,124","6,706,435","6,802,262","6,908,642","7,016,270",6683304,6.683304
3,Arkansas,"2,921,737","2,938,640","2,949,208","2,956,780","2,964,800","2,975,626","2,988,231","3,004,279",2962413,2.962413
4,California,"37,327,690","37,672,654","38,019,006","38,347,383","38,701,278","39,032,444","39,296,476","39,536,653",38491698,38.491698

In [85]:
pop_df["PopAvgMillions"].mean()

6.22548525490196

In [86]:
highpop = []
lowpop = []

for index, row in pop_df.iterrows():
    
    if row["PopAvgMillions"] > 10:
        highpop.append(row["States"])
    else:
        lowpop.append(row["States"])
highpop = list(set(highpop))  
lowpop = list(set(lowpop))
print(len(highpop))
print(len(lowpop))
print(highpop)
print(lowpop)

8
43
['Florida', 'Texas', 'Georgia', 'Illinois', 'California', 'Ohio', 'Pennsylvania', 'New York']
['Idaho', 'South Dakota', 'Alabama', 'Indiana', 'District of Columbia', 'Utah', 'Montana', 'Vermont', 'Maine', 'Kansas', 'Rhode Island', 'Hawaii', 'Minnesota', 'New Hampshire', 'New Jersey', 'West Virginia', 'Maryland', 'New Mexico', 'Washington', 'Missouri', 'Connecticut', 'Tennessee', 'Oregon', 'Virginia', 'Alaska', 'Kentucky', 'Arkansas', 'North Dakota', 'Massachusetts', 'Michigan', 'Delaware', 'South Carolina', 'Wyoming', 'Wisconsin', 'Iowa', 'Arizona', 'Oklahoma', 'Mississippi', 'Louisiana', 'Colorado', 'North Carolina', 'Nebraska', 'Nevada']

In [87]:
hphr = len(set(highpop) & set(expensivelist))
hplr = len(set(highpop) & set(cheaplist))
lphr = len(set(lowpop) & set(expensivelist))
lplr = len(set(lowpop) & set(cheaplist))
print(hphr)
print(hplr)
print(lphr)
print(lplr)

8
0
31
10

In [88]:
data = pd.Series([hphr,lphr], index=["High Population States", "Low Population States"])
chi2_df = pd.DataFrame([data]).T
chi2_df[1] = [hplr,lplr]

chi2_df

                         0   1
High Population States   8   0
Low Population States   31  10

In [89]:
chi2_df.columns = ["ExpensiveRates(>$0.085)","CheapRates(=<$0.085)"]

chi2_df

                        ExpensiveRates(>$0.085)  CheapRates(=<$0.085)
High Population States                        8                     0
Low Population States                        31                    10

In [90]:
observed = np.array([[8,31],[0,10]])
stats.contingency.expected_freq(observed)

array([[ 6.36734694, 32.63265306],
       [ 1.63265306,  8.36734694]])

In [91]:
stats.chi2_contingency(observed)

(1.1798956378986865, 0.2773772426260761, 1, array([[ 6.36734694, 32.63265306],
        [ 1.63265306,  8.36734694]]))